/* Add CSS Styling */
.odd {
  background-color: rgb(255, 128, 128);
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}
#two {
  color: rgb(0, 0, 255);
  font-size: 36px;
}
#three {
  font-size: 36px;
}
